body{
	margin: 0;
	background: url('graphic/collage/picture.jpg') no-repeat center center fixed;
	background-size: cover;


}

/*img{
	width: 100%;
	height: 100%;
}*/

a {
	/* JUN: */
position: fixed;
top: 100px;
left: 594px;
/* JUN: */
font-family: Palatino;
font-size: 144px;
color: #FEFEFE;
letter-spacing: 0.37px;
text-decoration: none;



}

.jun:hover{
animation-name: example;
animation-duration: 3s
}

@-webkit-keyframes example{
	0%{color:black;font-family: "Helvetica"}
	50%{color: white;font-family: "Garamond"}
	100%{color: black;font-family: "Futura"}

}

h1{
	/* zhanj083@newschool.e: */
font-family: Palatino;
font-size: 48px;
color: #FEFEFE;
position: fixed;
top: 378px;
left: 461px;
}

h2{
/* 929-231-0796: */
font-family: Palatino;
font-size: 36px;
color: #FEFEFE;

position: fixed;
top: 537px;
left: 616px;

}