body{
	margin: 0;
	background: url('pics/wallinstation.jpg') no-repeat center center fixed;
	background-size: cover;
}


img{
	width: 100%;
	height: 100%;
}

.rectangle{
	position: absolute;
	top: 188px;
	left: 343px;
	width: 236px;
	height: 564px;
	caption-side: 5;
/* Rectangle 2: */
background: #9012FE;
border-radius: 100px;

	animation-name: change;
	animation-duration: 40s;
}


@keyframes change {
	0% { top: 100%;}
	20%{top: -100%;}
	40%{top: 100%;width: 500px}
	60%{top: -100%;height: 700px;}
	80%{left: 100%;width: 236px; height: 564px;}
	100% { top: -100%; }
}