body{
	margin: 0;
}

img{
	width: 100%;
	height: 100%;
}



.oval1{
	position: fixed;
	top: 	0px;
	left: 0px;
	width: 310px;
	height: 310px;

/* Oval Copy: */
background: #D23B3B;
border-radius: 50%;

	animation-name: change1;
	animation-duration: 30s
}



.oval2{
	position: fixed;
	top: 0px;
	left: 1144px;
	width: 469px;
	height: 469px;



border-radius: 50%;
background: #D23B3B;

	animation-name: change2;
	animation-duration:20s;
}


.oval3{
		position: fixed;
	top: 512px;
	left: 807px;
	width: 310px;
	height: 310px;



border-radius: 50%;
background: #D23B3B;

	animation-name: change3;
	animation-duration:40s;
}


@keyframes change1 {
	0% { top: 50%;}
	20%{top: 70%;}
	40%{top: 90%;}
	60%{top: 10%;}
	80%{top: 80%;}
	100% {top: 50%;}
}

@keyframes change2 {
	0% { top: 50%;}
	20%{top: 100%;}
	40%{top: -50%;}
	60%{top: 90%;}
	80%{top: 100%;}
	100% {top: 50%;}
}
@keyframes change3 {
	0% { top: 90%;}
	20%{top: -50%;}
	40%{top: 50%;}
	60%{top: 100%;}
	80%{top: 20%;}
	100% {top: 50%;}
}