*{
	vertical-align: top;

}

body{

	font-family: helvetica;
	font-size:0;
	margin: 0;
	padding: 0;
}



.wrapper{
	width:960px;
	background: #f1f1f1;
	margin: 0 auto;

}


h1,h2{
	font-size:16px;
	margin: 0;
	font-weight: normal;
}

a{
	color: #f00;
	/*text-decoration: none;
	border: 1px solid #000;
	background-color: #ccc;*/
	/*white:#ffffff;*/
/*
	RGB
	red greeen blue*/

}



a:hover{color: #ffff00;}
a:active{color: #fff;}
a:visited{color: #0ff;}


/*LVHA*/




.header, .footer{
	width: 400px;
	background: #fff;
	margin: 0 150px;
	font-size: 16px;
	line-height: 20px;

}

.c{

	background: #ff0;
	font-size: 16px;
	line-height: 20px;
	margin: 0 15px 30px 15px;
	display: inline-block;
}

.parent{font-size: 0 ;line-height:0;}

.no-gutters{margin: 0;}
.no-left-gutters{margin-left: 0;}
.no-right-gutters{margin-right: 0;}



.c1{width: 130px; background: white;}

.c2{width: 290px;}

.c3{width: 450px;}

.c4{width: 610px;}

.c5{width: 770px;}

.c6{width: 930px;}



img{
	width: 100%;
	height: auto; 
}

/*.header{
	background: #fff;
}*/
