.box{
	display: inline-block;
	border: 6px solid  #D0011B;
	width: 300px;
	height: 700px;
	margin: 10px;

}

.box:hover{
	background: yellow;

}










.f{
	width: 300px;
	height: 700px;
	margin: 0;
	padding: 0;
	position: absolute;
	opacity: 0;
	margin-left: 50px;
	margin-top: 20px;
}

.f1,.f2,.f3{
	background: white;
	float: left;
}

.f1{
	width: 6px;
	height: 648px;
}

.f2,.f3{
	width: 224px;
	height: 6px;
}

.f3{
	margin-top: 548px;
}









.u{
	width: 300px;
	height: 700px;
	margin: 0;
	padding: 0;
	position: absolute;
	opacity: 0;
	margin-left: 40px;
	margin-top: 20px;
}
.u1,.u2,.u3,.u4,.u5{
	background: white;
	float: left;
}

.u1{
	width: 6px;
	height: 631px;
}

.u2{
	transform: rotate(-140deg);
	width: 24px;
	height: 6px;
	margin-top: 637px;
	margin-left: -3px;
}

.u3{
	width: 187px;
	height: 6px;
	margin-top: 645px;
	margin-left: -3px;
}
.u4{
	transform: rotate(-56deg);
	width: 21px;
	height: 6px;
	margin-top: 637px;
	margin-left: -3px;
}
.u5{
	width: 6px;
	height: 631px;
	margin-left: -5px;
}













.c{
	width: 300px;
	height: 700px;
	margin: 0;
	padding: 0;
	position: absolute;
	opacity: 0;
	margin-left: 40px;
	margin-top: 20px;
}
.c1,.c2,.c3,.c4,.c5{
background: white;
float: left;
}

.c1{

width: 6px;
height: 636px;
float: left;
}


.c2{
width: 212px;
height: 6px;
}

.c3{
	width: 6px;
	height: 108px;
}
.c4{
	width: 213px;
	height: 6px;
	margin-top: 528px;
}
.c5{
	width: 6px;
	height: 233px;
	margin-left: 213px;
	margin-top: -233px;

}













.k{
	width: 300px;
	height: 700px;
	margin: 0;
	padding: 0;
	position: absolute;
	opacity: 0;
	margin-left: 40px;
	margin-top: 20px;
}

.k1,.k2,.k3,.k4,.k5{
	background: white;
	float: left;
}

.k1{
	width: 6px;
	height: 645px;
}

.k2{
	width: 46px;
	height: 6px;
	margin-top: 310px;
}

.k3{
	width: 46px;
	height: 6px;
	margin-top: 330px;
	margin-left: -46px;
}

.k4{
	/* Rectangle Copy 29: */
transform: rotate(-60deg);

width: 344px;
height: 6px;
margin-top: -485px;
margin-left: -38px;
}

.k5{
	/* Rectangle Copy 27: */
transform: rotate(-300deg);

width: 344px;
height: 6px;
margin-left: -38px;
margin-top: -165px;
}




.guess{
	margin-left: 580px;
	color:  #D0011B;
	font-family: "futura";
	font-size: 30px;

}



button{
	float: left;
	margin-left: 100px;
	margin-top:20px;
	border: none;
	background:  #D0011B;
	text-align: center;
	text-decoration: none;
	color: white;
	cursor: pointer;
	font-size: 30px;
	width: 100px;
	height: 50px;

position: absolute;
z-index: 4;

}








